@import "~bootstrap/dist/css/bootstrap.css";

body{
  background-color: rgba(207, 245, 255, 0.06);
}
.col-lg-12{
 display: flex;
  /*background-color: beige;*/
  flex-direction: column;
  align-items: center;
}
p{
  font-family:Ebrima;

  text-align:center;
}
/*.biene{


  margin: 10rem;
  align-items: center;
  animation-name: bienenflug;
  animation-duration:10s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction: alternate-reverse;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: -2s;
  position: relative;
  width:110px;
  height:70px;
  display: inline;
}*/



@media (min-width: 800px){

  @keyframes bienenflug{
    from{
      left: 400px;}
    to{
      left:-400px;}
  }}

/*div.description{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 110px;
  border: hidden;
  border-radius: 10px;
  font-family: Gabriola;
  flex-direction: column;

}*/
/*@media (min-width: 800px){
  div.kasten{
    margin-top: 30vh;

    display:flex;
    background-color: rgb(53, 53, 231);
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }
}*/

button {

  width:110px;
  height:70px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.btn{

  width:250px;
  height:40px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
.foo{
  animation-name: bienenflug;
  transition: all 2s ease 1s;
  animation-duration:10s ;
  transform: scaleX(-1) ;


  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction: alternate-reverse;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: -2s;
  position: relative;
  /*background-image: url("gradient_bg.png");*/

  background-image: url("./assets/icons/superbieneneu2.png");
  background-size: 110px 70px;
  align-items: center;
  width: 110px;
  height: 70px;

  max-width: 400px;

}

.foo img {
  width: 100%;
  height: auto;
}

.foo .submit {


  position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.foo .submit:hover {
  background-color: black;
  color: white;
}


