<div [hidden]="!error">
  There was a problem logging in. Please try again.
</div>

<div class="container">
  <form role="form" (submit)="login()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" username class="form-control" id="username" placeholder="Username" name="username"
             [(ngModel)]="username"/>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" name="password"
             [(ngModel)]="password"/>
    </div>

    <div class="foo">
      <button type="submit"></button>
    </div>
  </form>
</div>
