<div class="container" *ngIf="ads.length == 3">
  <div class="row">
    <div class="col-lg-4">
      <div class="overflowTest">
        <h5>
          {{ads[0].headline}}
        </h5>
        <div class="anzeige1">
          {{ads[0].text}}
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="overflowTestM">
        <h5>
          {{ads[1].headline}}
        </h5>
        <div class="anzeige2">
          {{ads[1].text}}
        </div>

      </div>
    </div>
    <div class="col-lg-4">
      <div class="overflowTest">
        <h5>
          {{ads[2].headline}}
        </h5>
        <div class="anzeige3">
          {{ads[2].text}}
        </div>
      </div>
    </div>
  </div>
</div>

