.overflowTest {
  background-color:rgba(202,240,250,0.34);
  color: black;
  padding: 15px;
  width: 90%;
  height: 300px;
  overflow: auto;
  -webkit-box-shadow: -6px 5px 19px -1px rgba(0,0,0,0.23);
  -moz-box-shadow: -6px 5px 19px -1px rgba(0,0,0,0.23);
  box-shadow: -6px 5px 19px -1px rgba(0,0,0,0.23);
  /*border: 1px solid #ccc;*/
}

.row center{
  margin: 15%;
}

.overflowTestM{
  color: black;
  padding: 15px;
  width: 90%;
  height: 300px;
  overflow: auto;
  background-color:rgba(233,225,72,0.35);
  -webkit-box-shadow: -6px 5px 19px -1px rgba(0,0,0,0.23);
  -moz-box-shadow: -6px 5px 19px -1px rgba(0,0,0,0.23);
  box-shadow: -6px 5px 19px -1px rgba(0,0,0,0.23);
}


