<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p>nicht unbedingt Traditionelle sicht auf Imkerei</p>
      <br>
      <app-user-info></app-user-info>

    </div>
  </div>
</div>

<div class="row center">
  <div class="col-lg-12">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>oder hier registrieren</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" (click)="$event.stopPropagation();">
        <app-registration></app-registration>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div>
  <app-ad></app-ad>
</div>

