body {
  margin: 0;
  padding: 0;
}

html{
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(233,225,72,0.35);
  margin: 20px;
  border: hidden;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: -6px 5px 19px -1px rgba(0,0,0,0.23);

}

.head{
  background-color: rgba(207, 245, 255, 0.06);
  display: flex;
  justify-content: flex-end;

}




