
.btn{
  width:100px;
  height:40px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

form {
  width:250px;
}

input{
  width:230px;
}

button {
  color:gray;
}
