<form role="form" (ngSubmit)="register()" #registerForm="ngForm">

  <div style="text-align: center; color: green" *ngIf="complete"><strong>Registrierung erfolgreich!</strong></div>

  <div class="form-group">
    <label class="ml-2 mt-2 mb-1" for="username">Username</label>
    <input type="text" class="form-control ml-2 mr-2" id="username" name="username" placeholder="Username" required
           [(ngModel)]="user.username" required>
  </div>
  <div class="form-group">
    <label class="ml-2 mt-2 mb-1" for="password">Password</label>
    <input type="password" class="form-control ml-2 mr-2" id="password" name="password" placeholder="Password"
           [(ngModel)]="user.password"
           required>
  </div>
  <button type="submit" class="btn btn-outline-light black-background white mt-2 mr-2 mb-1 ml-2"
          [disabled]="!registerForm.form.valid">Register
  </button>
</form>
