<h2>Create Greeting</h2>
<form (ngSubmit)="submit()" #greetingForm="ngForm">
  <div>
    <label for="text">Text</label>
    <input type="text"id="text" [(ngModel)]="greeting.text" name="text" required>
  </div>

  <button type="submit">Submit</button>
</form>
