<body>

<div class="kasten">
  <div class="anfrage">
    <h5>Ich will ausprobieren!</h5>
    <a href="#">
      <img class="biene" src="superbieneneu2.png" width="70px" height="50px">
    </a>
  </div>
  <div class="anfrage">
    <h5>Ich brauche Helfer!</h5>
    <a href="#">
      <img class="biene" src="superbieneneu2.png" width="70px" height="50px">
    </a>
  </div>
  <div class="anfrage">
    <h5>Ich suche platz!</h5>
    <a href="#">
      <img class="biene" src="superbieneneu2.png" width="70px" height="50px">
    </a>
  </div>
  <div class="anfrage">
    <h5>Ich habe platz!</h5>
    <a href="#">
      <img class="biene" src="superbieneneu2.png" width="70px" height="50px">
    </a>
  </div>
</div>
<br>
<br>

<div>
  <app-ad></app-ad>
</div>
</body>

