body {
  display: flex;
  flex-direction: column;
  align-items: center;

}

div.anfrage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  background-color: rgba(233, 225, 72, 0.35);
  margin: 25px;
  border: hidden;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: -6px 5px 19px -1px rgba(0, 0, 0, 0.23);

}

@media (min-width: 800px) {
  div.kasten {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
  }
}


